@value makerBlack: black;

@value makerWhite: white;

@value makerLightGrey: #e8e7e6;

@value makerLightPink: #ffeae8;

@value makerGrey: #6A737C;

@value makerGreen: #385461;

@value makerPink: pink;

@value makerShadow: rgba(217, 217, 217, 1);

@value makerColorful: linear-gradient(166deg, rgba(238, 232, 169, 1) 10%,rgba(0, 211, 221, 1) 70%, rgba(87, 158, 224, 1) 100%);

@value makerWheat: wheat;

@value makerShadow: rgba(0,0,0,0.15);

@value makerPrimary: #579EE0;

@value makerPrimaryLighter: #B6DAFC;

@value makerPrimaryDarker:#4389CB;

@value makerText: #232629;
